In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('existing_base_train.csv')

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average_Credit_Card_Transaction  8124 non-null   float64
 15  Balance_Transfer                 8124 non-null   float64
 16  Term_Deposit                     8124 non-null   float64
 17  Life_Insurance                   8124 non-null   float64
 18  Medical_Insurance                8124 non-null   float64
 19  Average_A/C_Balance              8124 non-null   float64
 20  Personal_Loan                    8124 non-null   float64
 21  Investment_in_Mutual_Fund        8124 non-null   float64
 22  Investment_Tax_Saving_Bond       8124 non-null   float64
 23  Home_Loan                        8124 non-null   float64
 24  Online_Purchase_Amount           8124 non-null   float64
 25  gender                           8124 non-null   object
 26  region                           8124 non-null   object
 27  Investment_in_Commudity          8124 non-null   float64
 28  Investment_in_Equity             8124 non-null   float64
 29  Investment_in_Derivative         8124 non-null   float64
 30  Portfolio_Balance                8124 non-null   float64
 31  Revenue_Grid                     8124 non-null   int64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.0+ MB

In [6]:
df_train.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
0,5466,2,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,8.98,55.44,7.68,Female,North West,151.55,81.79,136.02,360.37,2
1,9091,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,18.99,Female,North West,44.28,13.91,29.23,89.22,2
2,9744,1,36-40,Partner,Manual Worker,Manual Worker,Rent Privately,"<22,500, >=20,000",Yes,Yes,...,0.00,0.00,0.00,Female,South West,8.58,1.75,4.82,14.50,2
3,10700,2,31-35,Partner,Manual Worker,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,Female,Scotland,15.00,0.00,5.00,68.98,2
4,1987,Zero,55-60,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,Female,Unknown,0.00,1.66,1.66,1.88,2

In [7]:
df_train.describe()

,REF_NO,year_last_moved,Average_Credit_Card_Transaction,Balance_Transfer,Term_Deposit,Life_Insurance,Medical_Insurance,Average_A/C_Balance,Personal_Loan,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
count,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.00000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000
mean,5797.343304,1967.876908,23.251094,46.082922,27.284649,65.317939,18.826195,31.838023,25.41583,41.723628,6.057246,4.416914,19.198658,36.152749,21.442475,31.530652,89.353368,1.894141
std,3322.497568,182.563785,51.147496,79.084692,54.133537,95.762451,32.022332,45.249440,85.13015,64.416023,12.673374,9.945747,92.343126,42.474953,32.261660,39.480660,108.303538,0.307676
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-78.430000,1.000000
25%,2924.750000,1978.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,8.282500,4.660000,8.740000,26.277500,2.000000
50%,5811.500000,1988.000000,0.000000,17.485000,0.000000,31.475000,0.010000,14.980000,0.00000,23.480000,0.000000,0.000000,0.000000,23.590000,12.820000,21.140000,65.560000,2.000000
75%,8681.500000,1994.000000,23.480000,64.990000,34.490000,92.887500,26.970000,45.922500,20.82750,59.440000,5.490000,4.490000,7.480000,49.795000,27.972500,42.392500,123.970000,2.000000
max,11518.000000,1999.000000,662.260000,2951.760000,784.820000,2930.410000,591.040000,626.240000,4905.93000,2561.270000,156.870000,162.350000,4306.420000,1231.090000,1279.100000,1771.160000,4283.560000,2.000000